<h1>Bonjour! s'il vous plait confirmez votre email!</h1>

<p>
    S'il vous plait confirmez votre mail en cliquant sur cette lien: <br><br>
    <a href="{{ signedUrl|raw }}">confirmez mon mail</a>.
    Cette lien a validite pendant  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
