{% extends 'base.html.twig' %}

{% block title %}Hello FormCompleteController!{% endblock %}

{% block body %}
<div class="formation mt-10">
	<div class="solo flex flex-col items-center justify-center pt-10 ">
    <img src="{{ asset('build/images/logo.jpg')}}" alt="Image" class="object-cover mb-2">
		<p class="text-s font-bold tracking-widest"></p>
	</div>
	<div class="text">
		<div class="solo p-2">
			<p class="font-bold tracking-widest p-2">Votre candidature a bien été prise en compte. Nous prendrons contact avec vous dans les plus brefs délais.</p>
		</div>
	</div>
{% endblock %}
