{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div class="solo p-2">
<label for="salaire" class="py-1 px-2">Êtes-vous salarié ?</label>
</div>
<div class="flex items-center duo">
	<input id="exp-oui" type="checkbox" class="space-x-4 form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out">
	<label for="exp-oui" class="ml-2 block text-sm leading-5 text-gray-900">Oui</label>


	<input id="exp-non" type="checkbox" class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out">
	<label for="exp-non" class="ml-2 block text-sm leading-5 text-gray-900">Non</label>
</div>
<div id="experience-non" class="solo mt-2 text-sm  hidden">

	</div>
<div id="experience-oui" class=" solo mt-2 text-sm  hidden">
<div class="duo p-2">
			<div>
				<label for="metier" class="py-1 px-2">Dernier métier exercé *</label>
				{{ form_row(formulaire.metier) }}
			</div>
			<div>
				<label for="duree" class="py-1 px-2">Durée de l'expérience en année *</label>
				{{ form_row(formulaire.duree) }}
			</div>
		</div>
		<div class="solo p-2">
			<div>
				<label for="entreprise" class="py-1 px-2">Entreprise *</label>
				{{ form_row(formulaire.entreprise) }}
			</div>
		</div>
		<div class="solo p-2">
			<div>
				<label for="remu" class="py-1 px-2">Niveau de rémunération</label>
				{{ form_row(formulaire.remu) }}
			</div>
		</div>
</div>

<script>
  const expOui = document.getElementById("exp-oui");
  const expNon = document.getElementById("exp-non");
  const experienceNon = document.getElementById("experience-non");
  const experienceOui = document.getElementById("experience-oui");
  
  expOui.addEventListener("change", () => {
    if (expOui.checked) {
      // Code à exécuter si la checkbox "oui" est cochée
      experienceOui.classList.remove("hidden");
      experienceOui.classList.add("block");
      
      // Vérifie si la case "non" est cochée et masque le contenu correspondant si c'est le cas
      if (expNon.checked) {
        expNon.checked = false; 
        experienceNon.classList.remove("block");
        experienceNon.classList.add("hidden");
        experienceNon.classList.remove("selected");
      }
      
      // Ajoute la classe "selected" à l'élément correspondant
      expOui.classList.add("selected");
    } else {
      // Code à exécuter si la checkbox "oui" n'est pas cochée
      experienceOui.classList.remove("block");
      experienceOui.classList.add("hidden");
      experienceOui.classList.remove("selected");
    }
  });
  
  expNon.addEventListener("change", () => {
    if (expNon.checked) {
      // Code à exécuter si la checkbox "non" est cochée
      experienceNon.classList.remove("hidden");
      experienceNon.classList.add("block");
      
      // Vérifie si la case "oui" est cochée et masque le contenu correspondant si c'est le cas
      if (expOui.checked) {
        expOui.checked = false; 
        experienceOui.classList.remove("block");
        experienceOui.classList.add("hidden");
        experienceOui.classList.remove("selected");
      }
      
      // Ajoute la classe "selected" à l'élément correspondant
      expNon.classList.add("selected");
    } else {
      // Code à exécuter si la checkbox "non" n'est pas cochée
      experienceNon.classList.remove("block");
      experienceNon.classList.add("hidden");
      experienceNon.classList.remove("selected");
    }
  });
</script>



{% endblock %}
